{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/static-property-placement": 0,
    "react/prop-types": 1,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 1,
    "react/button-has-type": 0,
    "semi": 0
  },
  "plugins": [
    "babel",
    "react",
    "jest",
    "jsx-a11y",
    "import",
    "react-hooks"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
